<!doctype html>
<html data-vue-meta-server-rendered {{- htmlAttrs -}}>
<head>
    {{- meta | safe -}}
    {{- title | safe -}}
    {{- link | safe -}}
    {%- for link in styles -%}
        <link href="{{- link -}}" rel="stylesheet" type="text/css">
    {%- endfor  -%}
</head>
<body>
{{- html | safe -}}
<script defer>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;</script>
<script defer>window.__INITIAL_STATE__={{-  state | safe -}}</script>
{%- for script in scripts  -%}
    <script defer src="{{- script -}}"></script>
{%- endfor -%}
<script async src="https://www.google-analytics.com/analytics.js"></script>
</body>
</html>
