<!doctype html>
<html data-vue-meta-server-rendered {{- htmlAttrs -}}>
<head>
    {{- meta | safe -}}
    {{- title | safe -}}
    {{- link | safe -}}
    {%- for link in styles -%}
        <link href="{{- link -}}" rel="stylesheet" type="text/css">
    {%- endfor  -%}
</head>
<body>
{{- html | safe -}}
<script async src="https://www.googletagmanager.com/gtag/js"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag('js', new Date());</script>
<script defer>window.__INITIAL_STATE__={{-  state | safe -}}</script>
{%- for script in scripts  -%}
    <script defer src="{{- script -}}"></script>
{%- endfor -%}
</body>
</html>
